chart:
  name: open-banking
  app:
    version: 0.1.0

meta:
  annotations:
    nginx.ingress.kubernetes.io/service-upstream: "true"
  deployment:
    name: open-banking-deploy
  ingress:
    name: open-banking-ingress
    className: nginx
  service:
    name: open-banking-svc
  configMap:
    name: open-banking-cm
  labels:
    app: open-banking

host:
  env:
    - name: APPLICATION_SECURITY_IP_WHITELIST
      valueFrom:
        configMapKeyRef:
          name: cm-open-banking
          key: APPLICATION_SECURITY_IP_WHITELIST
  envFrom:
    - configMapRef:
        name: cm-open-banking-props
  repo:
    local: host.minikube.internal:8082

replicaCount: 3

volumes:
  - name: open-banking-config-props
    configMap:
      name: cm-open-banking-props
  - name: open-banking-pass
    secret:
      secretName: my-pass

volumeMounts:
  - name: open-banking-config-props
    mountPath: /var/lib/config
  - name: open-banking-pass
    mountPath: /tmp/passphrase

imagePullSecret:
  - name: nexus-creds