app:
  name: petclinic
imagePullSecrets:
  - name: nexus-creds
image:
  host: host.minikube.internal:8082
  name: petclinic
  version: 1fed90e
  pullPolicy: Always
db:
  env:
    - name: POSTGRES_URL
      value: jdbc:postgresql://host.minikube.internal:5432/petclinic
    - name: POSTGRES_USER
      valueFrom:
        secretKeyRef:
          key: username
          name: petclinic-secret
    - name: POSTGRES_PASS
      valueFrom:
        secretKeyRef:
          key: password
          name: petclinic-secret
environment:
  - name: SPRING_PROFILES_ACTIVE
    value: postgres
  - name: SERVICE_BINDING_ROOT
    value: /bindings
  - name: SPRING_APPLICATION_JSON
    value: |
      {
        "management.endpoint.health.probes.add-additional-paths": true
      }
service:
  type: NodePort
  port:
    hostPort: 8088
    containerPort: 8080
