apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shopsn-app
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  sources:
    - repoURL: 'https://github.com/carlosdiandy/devops.git'
      path: shopsn
      targetRevision: HEAD
      helm:
        valueFiles:
          - values.yaml
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
