app:
  name: petclinic-dev
  port: 8087
  nameServer: dev.petclinic.io
  env: dev
metadata:
  name: petclinic-dev
imagePullSecrets:
  - name: nexus-creds
db:
  env:
    - name: POSTGRES_URL
      value: jdbc:postgresql://host.minikube.internal:5432/petclinic
    - name: POSTGRES_USER
      valueFrom:
        secretKeyRef:
          key: username
          name: petclinic-staging-secret
    - name: POSTGRES_PASS
      valueFrom:
        secretKeyRef:
          key: password
          name: petclinic-staging-secret
service:
  type: NodePort
  port:
    hostPort: 8087
    containerPort: 8080
ingress:
  name: petclinic-dev-ingress
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/service-upstream: "true"
image:
  version: "b01eea1"
deployment:
  strategy: default
