app:
  name: petclinic-dev
  port: 8087
  nameServer: dev
metadata:
  name: petclinic-dev
imagePullSecrets:
  - name: nexus-creds
environment:
  - name: POSTGRES_URL
    value: jdbc:postgresql://host.minikube.internal:5432/petclinic
  - name: POSTGRES_USER
    valueFrom:
      secretKeyRef:
        key: username
        name: petclinic-secret
  - name: POSTGRES_PASS
    valueFrom:
      secretKeyRef:
        key: password
        name: petclinic-secret
service:
  type: NodePort
  port:
    hostPort: 8087
    containerPort: 8080
